@tailwind base;
@tailwind components;
@tailwind utilities;


:root{
        --border-width: 4px;
        --border-width-large: 6px;
        --border-color: #000;
        --border-color-light: #fff;
        --color-black: #0F0E0E;
        --color-white: #FCFDF8;
        --color-green: #CDF851;
        --color-orange: #FF4A23;
        --color-yellow: #fff000;
        --color-kk-blue: #22222b;
}

::-webkit-scrollbar{
	width: 10px;
  background-color: black;
}

::-webkit-scrollbar-thumb{
	background: linear-gradient(transparent, #30ff00);
	border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover{
	background: linear-gradient(transparent, #00c6ff);
}

::placeholder{
  color: black;
}

::selection{
  background-color: white;
  color: #000;
}

.light::placeholder{
    color: white;
}
.light::selection{
  background-color:#000 !important ;
  color: #fff;
}

*{
    cursor: none !important;
  }

body{
    font-family: "Eurostile", sans-serif;
    font-weight: 400;
    font-style: normal;
}

a:hover{
  text-decoration: underline;
}

.flare {
  position: fixed;
  border: 20px solid var(--border-color-light);
  border-radius: 100%;
  pointer-events: none;
  transform: translate(-50%, -50%) scale(.5);
  z-index: 999999 !important ;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out;
  mix-blend-mode: difference;
}

.flare:hover{
  transform: scale(1.1)
}

@media screen and (max-width: 768px) {
  .flare {
    width: 0;
    height: 0;
    transition: width 0.2s ease-in-out, height 0.2s ease-in-out,
      opacity 0.2s ease-in-out;
  }
}
.flare.pointer {
  opacity: 0 !important;
  transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out;
}

.newsletter-bg{
  background-color: var(--color-green);
}

.cookie-banner{
  background-color: var(--color-green);
}

[class^="number-slide"],
[class*=" number-slide"] {
  background: grey;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-weight: 500;
  width: 100%;
  height: unset;
}

.hamburger-menu {
  position: relative;
}

.hamburger-icon {
  cursor: pointer;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hamburger-icon span {
  width: 100%;
  height: 3px;
  background-color: #333;
  transition: transform 0.3s ease-in-out;
}

.open .hamburger-icon span:first-child {
  transform: translateY(6px) rotate(45deg);
}

.open .hamburger-icon span:nth-child(2) {
  opacity: 0;
}

.open .hamburger-icon span:last-child {
  transform: translateY(-6px) rotate(-45deg);
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
  opacity: 0;
  transform: translateY(-100%);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.open .overlay {
  opacity: 1;
  transform: translateY(0);
}

.menu {
  list-style: none;
  padding: 0;
  text-align: center;
}

.menu li {
  margin: 20px;
}

.menu a {
  text-decoration: none;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
}

